[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/non/Desktop/terminatorconf1]
row=4
col=0

[/home/non/Desktop/Terminator-config]
row=3
col=0

[/home/non/Desktop/ALL_OK]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/non]
row=2
col=0

